<div class="container-fluid">
  <div class="col">
    <div class="row d-flex">

      <div class="col-12 col-md-6 bg-black text-white backwards-colours order-md-2">
        <div class="nav-hide-medium">
          <%= render 'layouts/main-nav' %>
        </div>
        <div class="row pt-5">
          <div class="col">
            <h1 class="pb-5 text-center d-md-none">About</h1>
            <%= image_tag "bondi_view.jpg", class:"w-100 pt-md-5" %>
            <p class="text-center small-font pt-1 pb-md-5 backwards-colours"><em>View from our balcony</em></p>

            <div class="text-center pt-4 pb-4">
              <%= link_to "https://www.worldcubeassociation.org/persons/2016POWE04", target: "_blank" do %>
                <%= image_tag "rubiks_cube.png", class:"rubiks-cube-sm" %>
              <% end %>
            </div>

            <div class="text-center p-5 pt-5 pb-5 backwards-colours">
              <p>I live in Bondi, Australia with my amazing partner of 6 years. In my spare time I enjoy reading fantasy fiction and speedsolving Rubik's cubes and other twisty puzzles.</p>
            </div>



          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 bg-black text-white order-md-1">
        <div class="hide-menu-small">
          <%= render 'layouts/main-nav' %>
        </div>
        <div class="row pt-4">
          <div class="col">
            <div class="">
              <h1 class="p-0 p-md-5 text-center hide-md">About</h1>
            </div>
            <div class="row pt-5 pr-3 pl-3">
              <div class="col-4 pl-4 ">
                <%= image_tag "coder_academy_logo.png", class:"ca-logo" %>
              </div>
              <div class="col-8 pl-3 pt-lg-3 pb-lg-3">
                <p>I am currently training to be a full stack web developer, completing a Diploma of Information Technology through Coder Academy's Fast Track program.</p>
              </div>
            </div>

            <div class="row pt-5 pr-3 pl-3">
              <div class="col-8 pr-3 pt-lg-3 pb-lg-3">
                <p>In my former life I worked in education, having completed a Bachelor of Education (Primary)(Hons) and a PhD in Education. Yes, I'm highly educated in education.</p>
              </div>
              <div class="col-4 ">
                <%= image_tag "bianca_floppy_hat.jpg", class:"ca-logo" %>
              </div>
            </div>

            <div class="row pt-5 pr-3 pl-3 pb-5 text-center">
              <div class="col">
                <p>You can see more of my skills, experience and work history on my <a href="https://www.linkedin.com/in/drbiancapower/" target="_blank" class="about-links">LinkedIn</a> profile, check out my code on <a href="https://github.com/biancapower/" target="_blank" class="about-links">GitHub</a>, see what I’ve been reading and writing on <a href="https://medium.com/@biancapower" target="_blank" class="about-links">Medium</a>, or follow my escapades on <a href="https://twitter.com/20by31" target="_blank" class="about-links">Twitter</a>.</p>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
