<div class="container-fluid">
  <div class="col">
    <div class="row">

      <!-- LEFT COLUMN -->
      <div class="col-12 bg-black text-white pb-5">
        <div class="row">
          <div class="col text-center">

            <h1 class="p-5 text-center">Projects</h1>

            <%= render 'layouts/projects-section' %>

            <a href="https://github.com/biancapower/" target="_blank">
              <button type="button" name="button" class="bg-white">
                <span class="fa fa-github"></span> All projects
              </button>
            </a>

          </div>
        </div>
      </div>

      <!-- RIGHT COLUMN -->
      <div class="col-12 bg-white text-black">
        <div class="row">
          <div class="col">
            <div class="row pt-4">
              <div class="col-6 tech-logo">
                <%= image_tag "react_logo.png", class:"img-fluid" %>
              </div>
              <div class="col-6 tech-logo">
                <%= image_tag "node_logo.png", class:"img-fluid" %>
              </div>
              <div class="col-6 tech-logo">
                <%= image_tag "ruby_logo.png", class:"img-fluid" %>
              </div>
              <div class="col-6 tech-logo">
                <%= image_tag "rails_logo.png", class:"img-fluid" %>
              </div>
              <div class="col-6 tech-logo">
                  <%= image_tag "amazon-s3_logo.png", class:"img-fluid" %>
              </div>
              <div class="col-6 tech-logo">
                <%= image_tag "heroku_logo.png", class:"img-fluid" %>
              </div>
              <div class="col-6 tech-logo">
                <%= image_tag "javascript_logo.png", class:"img-fluid" %>
              </div>
              <div class="col-6 tech-logo">
                <%= image_tag "html5_logo.png", class:"img-fluid" %>
              </div>
              <div class="col-6 tech-logo">
                <%= image_tag "bootstrap_logo.png", class:"img-fluid" %>
              </div>
              <div class="col-6 tech-logo">
                <%= image_tag "css_logo.png", class:"img-fluid" %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
