<div class="col contact-section" id="contact-section">
  <div class="row pt-1 pb-3 pl-2 pr-2">
    <div class="col">
      <div class="row">

          <div class="col-12">
            <%= bootstrap_form_for(@submission, url: submission_submit_path) do |f| %>
              <%= f.text_field :name, placeholder: "Enter name", class: 'mb-5' %>
              <%= f.email_field :email, placeholder: "Enter email address", class: 'mb-5' %>
              <%= f.telephone_field :phone, placeholder: "Enter phone number", class: 'mb-5' %>

              <div class="text-center">
                <%= f.text_area :message, placeholder: "Get in touch :)", class: 'mb-5' %>
                <%= f.submit "Send", class: 'btn-white btn mb-5' %>
              </div>
            <% end %>
          </div>

      </div>
    </div>
  </div>
</div>
