<div class="col projects-section" id="projects-section">
  <div class="row pt-5">
    <div class="col-12 text-center pb-4 pb-sm-5">
      <h1 class="projects-heading">Projects</h1>
    </div>
  </div>


  <!-- ROTATING CUBE -->

  <div class="row rotating-cube-row">
    <div class="col d-flex justify-content-center pb-5">
      <div class="stage" style="width: 300px; height: 300px;">
        <div class="cubespinner">
          <div class="face1">
            <%= link_to "http://css-zen-garden.biancapower.com/", target: "_blank" do %>
              <%= image_tag "zengarden-image-sq.png", class:"d-block w-100 cube-image" %>
            <% end %>
            <h2 class="cube-text"><span>CSS Zen Garden</span></h2>
          </div>
          <div class="face2">
            <%= link_to "https://bpower-amaysim-clone.herokuapp.com/", target: "_blank" do %>
              <%= image_tag "amaysim-image-sq.png", class:"d-block w-100 cube-image" %>
            <% end %>
            <h2 class="cube-text"><span>Amaysim Clone</span></h2>
          </div>
          <div class="face3">
            <%= link_to "http://eb-games-redesign.biancapower.com/", target: "_blank" do %>
              <%= image_tag "ebgames-image-sq.png", class:"d-block w-100 cube-image" %>
            <% end %>
            <h2 class="cube-text"><span>EB Games Redesign</span></h2>
          </div>
          <div class="face4">
            <%= link_to "http://css-zen-garden.biancapower.com/", target: "_blank" do %>
              <%= image_tag "zengarden-image-sq.png", class:"d-block w-100 cube-image" %>
            <% end %>
            <h2 class="cube-text"><span>CSS Zen Garden</span></h2>
          </div>
          <div class="face5">
            <%= link_to "https://bpower-amaysim-clone.herokuapp.com/", target: "_blank" do %>
              <%= image_tag "amaysim-image-sq.png", class:"d-block w-100 cube-image" %>
            <% end %>
            <h2 class="cube-text"><span>Amaysim Clone</span></h2>
          </div>
          <div class="face6">
            <%= link_to "http://eb-games-redesign.biancapower.com/", target: "_blank" do %>
              <%= image_tag "ebgames-image-sq.png", class:"d-block w-100 cube-image" %>
            <% end %>
            <h2 class="cube-text"><span>EB Games Redesign</span></h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- CAROUSEL -->
  <!-- <div class="row d-flex justify-content-center pt-3 pb-5">
    <div id="carouselExampleControls" class="carousel slide projects-carousel" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= link_to "http://css-zen-garden.biancapower.com/", target: "_blank" do %>
            <%= image_tag "zengarden-image.png", class:"d-block w-100" %>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to "https://bpower-amaysim-clone.herokuapp.com/", target: "_blank" do %>
            <%= image_tag "amaysim-image.png", class:"d-block w-100" %>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to "http://eb-games-redesign.biancapower.com/", target: "_blank" do %>
            <%= image_tag "ebgames-image.png", class:"d-block w-100" %>
          <% end %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div> -->
  <!-- end CAROUSEL -->

  <!-- HIDE FROM md -->
  <div class="row project-section-social-links d-md-none">
    <div class="col-6 col-md-6 d-flex justify-content-center pb-5">
      <a href="https://codepen.io/BiancaPower/" target="_blank" class="text-black">
        <p><span class="fa fa-codepen pl-1 pr-1"></span></p>
      </a>
    </div>
    <div class="col-6 col-md-6 d-flex justify-content-center">
      <a href="https://github.com/biancapower/" target="_blank" class="text-black">
        <p><span class="fa fa-github-alt"></span></p>
      </a>
    </div>
  </div>

  <!-- HIDE UNTIL md -->
  <div class="row project-section-social-links d-none d-md-flex">
    <div class="col-6 col-md-6 d-flex justify-content-center pb-5">
      <a href="https://codepen.io/BiancaPower/" target="_blank" class="text-black">
        <p>C<span class="fa fa-codepen pl-1 pr-1"></span>depen</p>
      </a>
    </div>
    <div class="col-6 col-md-6 d-flex justify-content-center">
      <a href="https://github.com/biancapower/" target="_blank" class="text-black">
        <p><span class="fa fa-github-alt"></span>  GitHub</p>
      </a>
    </div>
  </div>

  <!-- <div class="row pb-5">
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-pink"><a class="text-white" href="/projects" target="_blank">More</a></button>
    </div>
  </div> -->
</div>
